

body {

    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;

}

h1 {

    font-size: 1.8rem;    
    margin-bottom: 8px;  
    color: #12410a;  

}

#numero {

    font-size: 40px;
    margin: 20px;
    color: #0c6378;
}

button {

    padding: 10px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    color: #3314e2;
}
#contenedor {
    background: rgb(243, 70, 7);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
}